{% extends "base.html" %}

{% block content %}

<style>

.grid{
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(260px,1fr));
    gap:18px;
}

.card{
    background:#333;
    border-radius:12px;
    padding:12px;
}

.card img{
    width:100%;
    border-radius:8px;
}

.label{
    text-align:center;
    font-weight:bold;
    margin-top:10px;
}

.time{
    text-align:center;
    color:#bbb;
    font-size:13px;
    margin-top:4px;
}

button{
    width:100%;
    margin-top:10px;
}

</style>

<form method="get" style="margin-bottom:20px;">

<select name="date" onchange="this.form.submit()">

<option value="">All dates</option>

{% for d in available_dates %}

<option value="{{ d }}"
{% if d == selected_date %}selected{% endif %}>
{{ d[6:8] }}/{{ d[4:6] }}/{{ d[:4]}}
</option>

{% endfor %}

</select>

</form>

<form method="post" action="/delete-selected">

<p>
    <label>
        <input type="checkbox"
               onclick="toggleAll(this)">
        Select all
    </label>

    <button type="submit"
            onclick="return confirm('Delete selected items?')">
        🗑 Delete Selected
    </button>
</p>

<div class="grid">

{% for event in events %}

<div class="card">

<a href="{{ event.link }}">
    <img src="{{ event.thumb }}">
</a>

<div class="label">
{{ event.label }}
</div>

<div class="time">
{{ event.date_text }}<br>
{{ event.time_text }}
</div>


<label>

<input
    type="checkbox"
    name="selected"
    value="{{ event.image_name }}">

Delete

</label>

</div>

{% endfor %}

</div>
</form>
<script>

function toggleAll(source){

    const boxes =
        document.getElementsByName("selected");

    for(let i=0;i<boxes.length;i++){

        boxes[i].checked = source.checked;

    }

}

</script>

{% endblock %}
