{% extends "base.html" %}

{% block content %}

<h2>Camera Dashboard</h2>

<div class="dashboard-images">

    <div class="card">

        <h3>Last Still</h3>

        <img id="last-still"
             src="/media/latest/still">

    </div>

    <div class="card">

        <h3>Last Motion</h3>

        <img id="last-motion"
             src="/media/latest/motion">

    </div>

</div>


<div class="dashboard">

    <div class="card">
        <h3>Camera</h3>
        <p id="camera-status">Loading...</p>
    </div>

    <div class="card">
        <h3>Images</h3>
        <p id="image-count">-</p>
    </div>

    <div class="card">
        <h3>Videos</h3>
        <p id="video-count">-</p>
    </div>

    <div class="card">
        <h3>Motion</h3>
        <p id="motion-count">-</p>
    </div>

    <div class="card">
        <h3>Disk Free</h3>
        <p id="disk-free">-</p>
    </div>

    <div class="card">
        <h3>Media Size</h3>
        <p id="media-size">-</p>
    </div>

</div>

<script src="{{ url_for('static',
                        filename='js/dashboard.js') }}">
</script>

{% endblock %}
